tpf/App_Data/menus.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="menus">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="menu">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="entradas">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="entrada">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="nome" type="xs:string" />
                          <xs:element name="price" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sopas">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="sopa">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="nome" type="xs:string" />
                          <xs:element name="price" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="pratos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="carnes">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="carne">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="nome" type="xs:string" />
                                <xs:element name="price" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="peixes">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="peixe">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="nome" type="xs:string" />
                                <xs:element name="price" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="veges">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="vege">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="nome" type="xs:string" />
                                <xs:element name="price" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sobremesas">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="sobremesa">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="nome" type="xs:string" />
                          <xs:element name="price" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>